<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="env" value="dev_home" />
    <!--add key="env" value="dev_office" /-->
    
    <!--
    <add key="pathBase" value="h:\zamp_2020_01" />

    <add key="pathMariaDB" value="F:\zamp\Apps\mariadb-10.4.11" />
    <add key="pathApache" value="F:\zamp\Apps\Apache24" />
    <add key="pathPHP" value="F:\zamp\Apps\php-7.4.2" />
    
    <add key="default_editor_path" value="notepad.exe" />

    <add key="apache_http_port" value="8081" />
    <add key="apache_https_port" value="443" />
    <add key="mariadb_port" value="3309" />
    -->
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>